:root {
    --bgColor: #f5f5f57f;
    --Maintextcolor:darkorchid;
    --淡黑井五:#555;
    --黄色突出:darkorange;
    --el:#409EFF;
    --卡片颜色:#fff;
    --卡片字体:#000;
    --almm:'阿里妈妈刀隶体';
    --drfont:'Crotah free version';
  
    /* darkviolet  darkorchid*/
  }